/*FONTS*/
@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Viga&display=swap);
/*ALGEMEEN*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
}
h1 {
	font-family: 'Viga', sans-serif;
}
h2 {
	font-family: 'Viga', sans-serif;
}
h3 {
	font-family: 'Viga', sans-serif;
}
p {
	font-family: 'Oxygen', sans-serif;
}
th {
	font-family: 'Viga', sans-serif;
}
label, input, textarea, a {
	font-family: 'Oxygen', sans-serif;
}
/*COLORS*/

/*NAVIGATION*/

/*HEADER*/

/*MAIN*/

/*FOOTER*/
