/*FONTS*/
@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Viga&display=swap);
/*COLORS*/
$wit: #fff;
$txt: #E6EDF3;
$button-txt: #C9D1D9;
$meta-txt: #7D8590;
$magenta: #FF1FFF;
$roze: #B557F5;
$zwart: #000;
$achtergrond-zwart: #010409;
$panel-zwart: #0d1117;
$button-zwart: #21262d;
$border: #707070;
$button-hover: #30363d;
$button-border-hover: #8b949e;
/*ALGEMEEN*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	background-color: $achtergrond-zwart;
	color: $txt;
}
h1, h2, h3, h4, h5, h6, th {
	font-family: 'Viga', sans-serif;
	color: $txt;
}
label, input, textarea, a, p{
	font-family: 'Oxygen', sans-serif;
	color: $txt;
}
p {
	font-size: 16px;
	line-height: 20px;
}
h1 {
	letter-spacing: 1px;
	font-size: 28px;
	font-weight: bold;
	line-height: 30px;
	padding-bottom: 20px;
}
h3 {
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	padding-bottom: 20px;
}
/*NAVIGATION*/

/*HEADER*/
nav {
	height: 70px;
	border-bottom: 1px solid $border;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	padding-left: 15px;
	.navbar-left {
		height: 45px;
		img {
			width: 45px;
			height: 45px;
			object-fit: cover;
		}
	}
	.navbar-right {
		width: 50%;
		ul {
			list-style-type: none;
			display: flex;
    gap: 30px;
			li {
				a {
					color: $txt;
					text-decoration: none;
					font-size: 20px;
					font-weight: bold;
					&:hover::after {
						width: 100%;
					}
					&:after {
						content: "";
						width: 0%;
						height: 3px;
						background: linear-gradient(90deg, $roze, $magenta 50%, $roze);
						display: block;
						margin: auto;
						transition: 0.5s;
					}
				}
			}
		}
	}
	.count {
		position: fixed;
		top: 10px;
    right: 15px;
		z-index: 1;
		background: 
		linear-gradient(90deg, $roze, $magenta 50%, $roze), /* Horizontal Gradient */
		linear-gradient(0deg, $roze, $magenta 50%, $roze); 
		color: $txt;
		border-radius: 50px;
		width: 40px;
		height: 40px;
		display: flex;
    align-items: center;
    justify-content: center;
		font-weight: bold;
		font-size: 18px;
	}
}
/*MAIN*/
.home-b1 {
	width: 40vw;
	margin: 50px auto;
	.col {
		padding-top: 25px;
		width: 20%;
    float: left;
	}
}
/*BMI*/
.bmi-b1 {
	width: 40vw;
	margin: 50px auto;
	&:after {
    content: "";
    display: table;
    clear: both;
	}
	.row {
		display: flex;
		.col1, .col2 {
			display: flex;
			align-items: center;
		}
		.col1 {
			padding-top: 25px;
			flex-basis: 33%;
			label span {
				color: $magenta;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button,input[type=number] {
				-webkit-appearance: none;
				-moz-appearance: textfield;
			}
			input {
				background-color: $button-zwart;
				border: 1px solid $border;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				padding: 5px 12px;
				font-size: 14px;
				line-height: 20px;
				border-radius: 6px;
				margin-top: 5px;
				margin-bottom: 10px;
				&:focus-visible {
					outline: 1px solid $roze;
				}
			}
			.uk-button {
				background-color: $button-zwart;
				color: $button-txt;
				border: 1px solid $border;
				padding: 5px 25px;
				border-radius: 6px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				&:hover { 
					background-color: $button-hover;
					border: 1px solid $button-border-hover;
				}
			}
		}
		.col2 {
			padding-left: 35px;
			padding-top: 25px;
			flex-basis: 66%;
			ul {
				color: $magenta;
				font-size: 22px;
			}
		}
	}
}
/*FOOTER*/
